html {
  font-style: Poppins;
}

body {
  background: url(/imagens/v.jpeg) repeat;
}

body .video {
  height: 400px;
  width: 600px;
}

body .videoDiv {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

body .videoImg {
  height: 400px;
  width: 300px;
}

body .propostas h1 {
  color: white;
  text-align: center;
  margin: 20px;
  font-family: Poppins;
}

body .propostas {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .carousel-inner {
  max-height: 500px !important;
  max-width: 500px !important;
}

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sobre h1 {
  color: white;
  margin: 25px 0;
  font-family: Poppins;
  text-align: center;
}

#sobre p {
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: medium;
  font-stretch: semi-expanded;
}

#sobre .texto {
  width: 500px;
}

#redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#redes h1,
p {
  color: white;
  margin: 40px 0;
  text-align: center;
  font-family: Poppins;
}

#redes img {
  height: 200px;
  width: 200px;
  margin: 50px 25px;
}

@media (max-width: 700px) {
  body .videoImg {
    height: 0;
    width: 0;
  }
  body .video {
    height: 45vw;
    width: 90vw;
  }
  #sobre .texto {
    max-width: 90%;
  }
  #sobre h1 {
    margin: 10px 0;
  }
  #redes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #redes img {
    height: 100px;
    width: 100px;
  }
}
